[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/spf13/nerdtree.git
[submodule "bundle/piv"]
	path = bundle/piv
	url = git://github.com/spf13/PIV.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/spf13/snipmate.vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/spf13/snipmate-snippets.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
